.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-image {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-image {
  width: 100%;
  height: auto;
  animation: slideImage 0.5s;
}

@keyframes slideImage {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
