.event-section2 {
  background-image: url("../asset/background/gambar6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: "poppins", sans-serif;
}

/* Dark overlay effect at the top */
.event-section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30%; /* Adjust height as needed for the top overlay */
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  z-index: -1; /* Ensure overlay is behind the content */
}

.event-section2::after {
  position: relative;
  z-index: 1;
}

.event-section2 p {
  font-size: 20px;
  letter-spacing: 2px;
  word-wrap: break-word; /* Ensures long words or URLs wrap to the next line */
  overflow-wrap: break-word; /* Same as word-wrap for better compatibility */
  text-align: center; /* Ensures text alignment looks neat in the center */
  max-width: 80%; /* Limits the width of the text container to 80% of the parent element */
  margin: 0 auto; /* Centers the paragraph block */
  padding: 0 15px;
}
