/* Enable smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* General Navbar Styling */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #bbb9b99f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  font-family: "Poppins", sans-serif; 
}

/* Navbar Links - Icons */
.navbar a {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00; /* Change the color on hover */
}

/* Responsive Design */
@media (min-width: 768px) {
  .navbar {
    justify-content: space-around;
  }
}
