@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideInFromLeft 0.3s ease-out forwards; /* Change to forwards to keep the last frame */
}

.slide-right {
  animation: slideInFromRight 0.3s ease-out forwards; /* Change to forwards to keep the last frame */
}
